<fieldset class="{{style_config.fieldset_class}}" ng-class="{
    'has-feedback': config.has_validation_feedback,
    'has-success': errors.length === 0 && show_validation,
    'has-error': errors.length > 0 && show_validation,
    'required': field.validate}">

    <label ng-if="field.label !== '' && config.show_labels" for="{{field.name}}"
           class="{{style_config.label_class}}">{{field.label}}</label>

    <!-- edit state -->

    <div class="{{style_config.input_box_class}}">


        <div ng-include src="input_view_template"></div>

        <!-- validation feedback -->
        <span ng-show="config.has_validation_feedback"
              class="{{style_config.validation_feedback_class}} glyphicon"
              ng-class="{
              'glyphicon-ok': errors.length === 0 && show_validation,
              'glyphicon-remove': errors.length > 0 && show_validation
              }"></span>


    </div>

    <!-- indicators -->
    <div ng-show="field.required && config.has_required_indicator" class="{{style_config.required_indicator_class}}">
        <span>*</span>
    </div>

    <div ng-show="errors.length > 0 && show_validation"
         class="{{style_config.message_box_class}}">{{errors[0]}}</div>

</fieldset>