<div class="input-group">
    <div class="input-group-addon">{{field.symbol}}</div>
    <input
        type="text"
        id="{{field.name}}"
        class="form-control"
        placeholder="{{field.label}}"

        ng-model="$parent.value"
        ng-change="DynamicFormFieldset.onChange()"
        ng-blur="DynamicFormFieldset.onBlur()"
        ng-disabled="field.disabled"
        ng-autofocus="field.autofocus"

        tooltip-content="{{field.tooltip.content}}"
        tooltip-side="{{field.tooltip.placement}}"
    >
</div>
