<input id="{{field.name}}"
       type="number"
       class="{{style_config.input_class}}"
       placeholder="{{field.placeholder || field.label}}"

       ng-model="DynamicFormFieldset.field_value"
       ng-keypress="DynamicFormFieldset.onKeypress($event)"
       ng-change="DynamicFormFieldset.onChange()"
       ng-blur="DynamicFormFieldset.onBlur()"
       ng-disabled="field.disabled"
       ng-attr-autofocus="{{field.autofocus}}"
       ng-attr-title="{{field.title}}"
	   ng-attr-autocomplete="{{field.autocomplete}}"
>
