<!-- no form groups -->
<dynamic-form-fieldset ng-if="!has_groups"
                       ng-repeat="field in fields_array"
                       field="field"
                       model="model"
                       value="value"
                       config="form_field_config"
                       style-config="form_style_config"
                       all-errors="errors"
                       show-validation="has_submitted"
                       on-keypress="DynamicForm.onFieldKeypress($event, field)"
                       on-change="DynamicForm.onFieldChange(field)"
                       on-blur="DynamicForm.onFieldBlur(field)"></dynamic-form-fieldset>
