<!-- form groups -->
<div ng-if="has_groups"
     class="panel panel-default form-section form-group-{{group[0].group_key}}"
     ng-repeat="(key, group) in grouped_fields_array | groupBy: 'group_order'">

    <div class="panel-heading">{{group[0].group_label}}</div>
    <div class="panel-body">

        <dynamic-form-fieldset ng-repeat="field in group"
                               field="field"
                               model="model"
                               config="form_field_config"
                               style-config="form_style_config"
                               all-errors="errors"
                               show-validation="has_submitted"
                               on-keypress="DynamicForm.onFieldKeypress($event, field)"
                               on-change="DynamicForm.onFieldChange(field)"
                               on-blur="DynamicForm.onFieldBlur(field)"></dynamic-form-fieldset>

    </div>
</div>
