<!-- message -->
<div class="{{form_style_config.message_box_class}}" move-with-scroll suppress="form_config.scroll_message">

    <div ng-messages="message_state" class="message">
        <div class="{{form_style_config.message_success_class}}" role="alert"
             ng-message="success" ng-if="message.success && form_config.show_success_messages">{{message.success}}</div>
        <div class="{{form_style_config.message_error_class}}" role="alert"
             ng-message="error" ng-if="message.error && form_config.show_error_messages">{{message.error}}</div>
    </div>
</div>

<!-- form -->
<form role="form" class="{{form_style_config.form_class}}">

    <!-- groups or no-groups template -->
    <div ng-include src="form_view_template"></div>

    <!-- buttons -->
    <div class="{{form_style_config.button_box_class}}" ng-show="show_buttons && (form_config.show_submit_button || form_config.show_cancel_button || form_config.show_clear_button)">
        <button ng-show="form_config.show_submit_button" type="submit"
                class="{{form_style_config.submit_button_class}}"
                ng-click="DynamicForm.onSubmit()"
                ng-disabled="is_submitting">
                {{form_config.submit_button_label}}
                <i class="{{form_style_config.is_submitting_icon}}" ng-show="is_submitting && form_style_config.is_submitting_icon"></i>
        </button>

        <button ng-show="form_config.show_cancel_button" type="button"
                class="{{form_style_config.cancel_button_class}}"
                ng-click="DynamicForm.onCancel()"
                ng-disabled="is_submitting">{{form_config.cancel_button_label}}</button>

        <button ng-show="form_config.show_clear_button" type="button"
                class="{{form_style_config.clear_button_class}}"
                ng-click="DynamicForm.onClear()"
                ng-disabled="is_submitting">{{form_config.clear_button_label}}</button>
    </div>
</form><!-- /form -->
