<html>
<head>
	<title>AngularDynamicForm : Title</title>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../styles/global.css">
	<link rel="stylesheet" href="../../../lib/styles/dynamic-form.css">
</head>
<body ng-app="App" ng-controller="AppController as app">

<div class="row">
	<div class="col-xs-12 description">

		<h2>Title</h2>

		<br/>

		<p>content....</p>

	</div>
</div><!--/.row-->

<br/>
<br/>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 example well">
		Example
	</div>
</div><!--/.row-->

<!-- dependencies -->
<script src="../bower_components/lodash/lodash.min.js"></script>
<script src="../bower_components/angular/angular.min.js"></script>

<!-- Angular CakePHP -->
<script src="../../../lib/dynamic-form.js"></script>
<script src="../../../lib/dynamic-form-settings.js"></script>
<script src="../../../lib/dynamic-form-service.js"></script>
<script src="../../../lib/dynamic-form-controller.js"></script>
<script src="../../../lib/dynamic-form-directive.js"></script>
<script src="../../../lib/fieldset/dynamic-form-fieldset-service.js"></script>
<script src="../../../lib/fieldset/dynamic-form-fieldset-controller.js"></script>
<script src="../../../lib/fieldset/dynamic-form-fieldset-directive.js"></script>
<!--<script src="../bower_components/angular-dynamic-form/dist/angular-dynamic-form.min.js"></script>-->

<!-- example app -->
<script src="scripts/app.js"></script>
<script src="scripts/app-controller.js"></script>

</body>
</html>
</html>